@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: 255 255 255; 
  --muted: 99 102 241; 
}

html, body { height: 100%; background: #f6f7fb; }

.card-title { @apply font-semibold text-gray-800; }
.badge { @apply inline-flex items-center px-2 py-0.5 text-xs rounded-full border; }
.legend-dot { @apply inline-block w-2.5 h-2.5 rounded-full mr-2; }
.btn-tab { @apply text-xs px-2 py-1 rounded-md border; }
.btn-tab-active { @apply bg-indigo-50 border-indigo-300 text-indigo-700; }



.card { 
  @apply bg-white border rounded-[12px] shadow-md; 
}
.recharts-wrapper{
  padding: 12px !important
}
.card-equal {
  @apply h-full min-h-[360px] flex flex-col;
}
.card-title {
  @apply font-semibold text-gray-800;
}
.charts-row {
  @apply grid grid-cols-3 gap-5; 
}
.table-wrap {
  @apply w-[80%];
}
